.Themain {
    width : 600px;
    height: 600px;
    border: 5px solid black;
    background-color: rosybrown;
    border-radius: 20px;
    
}

.image {
    display: flex;
    justify-content: center;
}

* {
    padding-left: 10px;

}

.rabbit {
    display: flex;
    justify-content: center;
    align-items: center;
}

